.detail-artwork {
    margin: 40px 10px 40px 50px;
    .common-information {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        .image-info {
            width: 45%;
            height: 650px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 2px 2px 0px #e9e9e9;
            img {
                width: 550px;
                height: auto;
            }
        }
        .common-info {
            margin-left: 20px;
            width: 55%;
            h1 {
                margin-bottom: 10px;
            }
            .own-info {
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;
                color: #4b5563;
                span {
                    margin-left: 30px;
                }
            }
            .detail-content {
                display: flex;
                flex-direction: row;
                gap: 30px;
                .detail-title {
                    margin-left: 40px;
                    margin-right: 50px;
                }
                .detail-info {
                    margin-left: 120px;
                    text-align: right;
                }
            }
        }
        .price-info {
            background-color: rgb(245, 245, 245);
            height: 200px;
            border-radius: 10px;
            h3 {
                padding-left: 30px;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            .ethereum-price {
                display: flex;
                flex-direction: row;
                padding-left: 30px;
                align-items: baseline;
                gap: 15px;
                .ethereum-info {
                    margin-top: 4px;

                    .etherum-price-detail {
                        font-size: 30px;
                        font-weight: 600;
                        color: rgb(53, 56, 64);
                    }

                    .dollar-price-detail {
                        font-size: 15px;
                        color: rgb(112, 122, 131);
                    }
                }
            }
            .buy-offer-btn {
                margin-top: 20px;
                margin-left: 20px;
                button {
                    height: 58px;
                    width: 145px;
                    font-size: 20px;
                    border: 2px solid #0000005e;
                    border-radius: 10px;
                    background-color: white;
                    cursor: pointer;
                    color: #3c4550;
                }
                .buy-content {
                    .buy-btn {
                    }
                    .buyDownload-btn {
                        margin-left: 20px;
                    }
                }
                .offer-btn {
                    height: 58px;
                    width: 145px;
                }
                button:hover {
                    background-color: #7e3af2;
                    color: white;
                    border: 2px solid white;
                }
            }
        }
    }
    .history-transaction {
        margin-bottom: 5px;
    }
    .list-downloader {
        margin-bottom: 5px;
        .list-name {
        }
    }
    .another-artwork {
        .artwork-info {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 25%;
            gap: 20px;
            overflow-x: auto;
            .artwork {
                padding-bottom: 10px;
            }
        }
    }
    .loading-signup {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(126, 58, 242, 0.3);
        z-index: 1;
        .loading {
            position: absolute;
            top: 42%;
            left: 45%;
        }
    }
    .alert-signup {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(126, 58, 242, 0);
        z-index: 1;
        .alert {
            position: absolute;
            top: 42%;
            left: 45%;
            text-align: center;
        }
    }
}
