.sign-app {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    h1 {
        margin-bottom: 20px;
        margin-left: 110px;
    }
    .image-author-content {
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        height: 257px;

        .image-content:hover {
            opacity: 0.8;
        }

        .image-content {
            margin-left: 5px;

            .image-link {
                height: 257px;
                width: 350px;
                padding: 4px;
                border: 3px dashed rgb(204, 204, 204);
                border-radius: 10px;
                cursor: pointer;

                .image-inside {
                    position: relative;
                    height: 242px;
                    width: 336px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;

                    img {
                        position: absolute;
                        max-width: 330px;
                        max-height: 242px;
                        border-radius: 10px;
                    }
                    .image-display:hover {
                        opacity: 0.8;
                    }
                    .delete-icon {
                        position: absolute;
                        color: rgb(192, 191, 191);
                        right: 0;
                        top: 0;
                    }
                }
            }
        }
        .author-content {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    .artwork-content {
        .signUp-btn {
            display: flex;
            margin-left: 15px;
        }
        .btn-sign {
            width: 150px;
            height: 50px;
            padding: 10px;
            border: none;
            background-color: rgba(126, 58, 242, 1);
            color: white;
            cursor: pointer;
            border-radius: 5px;
            font-weight: bold;
            font-size: 24px;
            margin-top: 10px;
        }
    }
}
