.sign-app {
    display: flex;
    align-items: center;
    justify-content: center;
    form {
        background-color: rgba(255, 255, 255, 0.579);
        padding: 5px 15px;
        border-radius: 10px;
    }
    h2 {
        text-align: center;
    }
    .signUp-btn {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    button {
        width: 150px;
        height: 42px;
        padding: 10px;
        border: none;
        background-color: rgba(126, 58, 242, 1);
        color: white;
        cursor: pointer;
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        margin-top: 10px;
    }
}