.card-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    .card-content-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}


/*====================================================TextField==================================================*/

.text-field {}



/*====================================================AccordionUI================================================*/
.accordion-body{
    background: #F5F5F5 !important;
    border-top: 1px solid rgba(0, 0, 0, 0.35) !important;
    border-radius: 0px 0px 10px 10px !important;

    .accordionIcon{
        width: 32px !important;
        height: 32px !important;
    }
  }


/*===================================================Table==================================================*/
