.card-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    .card-content-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}


/*====================================================TextField==================================================*/

.text-field {}