.card-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    .card-content-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

/*====================================================TextField==================================================*/

/*====================================================PreviewImage==================================================*/

.image-link {
    height: 257px;
    width: 350px;
    padding: 4px;
    border: 3px dashed rgb(204, 204, 204);
    border-radius: 10px;
    cursor: pointer;
    .image-iconClose {
        margin-left: 295px;
        position: relative;
        bottom: 244px;
        left: 5px;
    }
    .image-inside {
        position: relative;
        height: 242px;
        width: 336px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        .image-content {
            position: absolute;
            height: 100%;
            width: 100%;
            border-radius: 10px;
        }
        .image-content:hover {
            opacity: 0.8;
        }
    }
    .image-inside:hover {
        background-color: rgb(217 217 217);
    }
}

/*====================================================AccordionUI================================================*/

.accordion-body {
    background: #f5f5f5 !important;
    border-top: 1px solid rgba(0, 0, 0, 0.35) !important;
    border-radius: 0px 0px 10px 10px !important;
    .accordionIcon {
        width: 32px !important;
        height: 32px !important;
    }
}

/*===================================================Table==================================================*/
