/*========================HERO SECTION==============================================*/

.hero-section {
}

.content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 64px 80px 64px 80px;
    gap: 50px;
}

.left-content {
    max-width: 50%;
}

.right-content {
    max-width: 50%;
}

.hero-section-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

.hero-section-title {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
}

.hero-section-paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #6b7280;
}

.hero-section-list {
    gap: 16px;
    a {
        text-decoration: none;
        color: #000000;
    }
}

.hero-section-button {
    margin-left: 10px;
    padding: 8px 12px;
    background-color: rgba(126, 58, 242, 1);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.hero-section-button:hover {
    background-color: rgba(126, 58, 242, 0.5);
}

.discover-button {
    padding: 12px 20px;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
}

.create-button {
    padding: 12px 20px;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    font-size: 16px;
    background-color: #e5e7eb;
}

.hero-section-image img {
    max-width: 100%;
}

/*===============================================WALLET SECTION==============================================*/

.walletlogo {
    background: #7e3af2;
    padding: 20px 0px 20px;
    .logos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0px;
        gap: 56px;
        margin: 0px 80px 0px 80px;
        img {
            width: 285.73px;
            height: 80.75px;
        }
    }
}

/*=============================================FEATURE SECTION============================================*/

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
    gap: 80px;
    .features-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0px 80px 0px 80px;
        gap: 64px;
    }
    .features-left-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        h1 {
            font-weight: 800;
            font-size: 36px;
            line-height: 125%;
            letter-spacing: -0.01em;
        }
        p {
            max-width: 85%;
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
            color: #6b7280;
        }
        .features-list {
            border-top-style: outset;
            width: 100%;
            ul {
                padding: 25px;
                list-style: none;
                li {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 150%;
                    span {
                        padding-left: 8px;
                    }
                }
            }
        }
    }
    img {
        width: 608px;
        height: auto;
    }
}

/*=============================================PRICING SECTION============================================*/

.pricing-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 120px 70px;
    gap: 40px;
    h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
    }
    .pricing-section-filter {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .pricing-section-menu {
            display: flex;
            gap: 12px;
            .pricing-section-menu-button {
                padding: 8px 12px !important;
                border: none !important;
                border-radius: 15px !important;
                cursor: pointer !important;
                transition: all 0.3s ease 0s !important;
                font-weight: 500 !important;
                font-size: 14px !important;
                line-height: 17px !important;
                background-color: #dcdcdc33 !important;
                color: #000000;
            }
            .pricing-section-menu-button:hover {
                background-color: rgba(126, 58, 242, 0.5);
            }
            .pricing-section-menu-button:active {
                background-color: rgba(126, 58, 242, 0.5);
            }
        }
        .pricing-section-btn-filter {
            .pricing-section-btn-filter-detail {
                padding: 8px 12px !important;
                border: none !important;
                border-radius: 15px !important;
                cursor: pointer !important;
                transition: all 0.3s ease 0s !important;
                font-weight: 500 !important;
                font-size: 14px !important;
                line-height: 17px !important;
                background-color: #ffffff !important;
                color: #000000;
            }
        }
    }
    .pricing-section-listing {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .pricing-section-btn-seemore {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        button {
            padding: 20px 40px;
            cursor: pointer;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #4f33a3;
            border: 2px solid #3d00b7;
            border-radius: 50px;
        }
        button:hover {
            background-color: rgba(126, 58, 242, 0.5);
        }
    }
}

/*=============================================INSTRUCTION SECTION============================================*/

.instruction-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 67px 100px 100px 96px;
    gap: 80px;
    .instruction-heading {
        h1 {
            font-weight: 700;
            font-size: 48px;
            line-height: 58px;
            color: #1f1d2b;
        }
    }
    .instruction-items {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 130px;
        margin-left: 100px;
        margin-right: 100px;
        .instruction-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 13px;
            h2 {
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                width: 250px;
            }
            .instruction-item-icon {
                width: 64px;
                height: 64px;
                color: #7e3af2;
            }
        }
    }
}

.instruction-addition {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    h1 {
        font-weight: 600;
        font-size: 24px;
        line-height: 162.5%;
    }
    p {
        width: 50%;
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 162.5%;
    }
}

/*=============================================MYTEAM SECTION============================================*/

.myteam-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 95px 100px 95px 100px;
    .myteam-section-items {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 50px;
        justify-content: space-around;
        .myteam-section-item {
            width: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: flex-start;
            .myteam-section-avatar {
                width: 120px;
                height: 120px;
            }
            h2 {
                padding-top: 27px;
                font-weight: 400;
                font-size: 20px;
                line-height: 23px;
                text-align: center;
            }
            h3 {
                padding-top: 11px;
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                letter-spacing: 0.0357em;
                color: #a0aec0;
            }
            p {
                font-weight: 300;
                padding-top: 30px;
                text-align: center;
            }
        }
    }
}
